.spinner {
  display: "flex";
  gap: 10px;
  align-items: center;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Xoá mũi tên trong input trên Chrome/Safari */
}
input {
  -moz-appearance: textfield; /* Xoá mũi tên trong input trên Firefox */
}
.spinner input {
  width: 100px;
  text-align: center;
}
.spinner button {
  border: none;
  width: 30px;
}
