.password-modal-overlow {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-modal {
  padding: 15px;
  border-radius: 10px;
  height: 300px;
  width: 600px;
  background-color: white;
}
.new-password-input,
.conform-new-password-input {
  position: relative;
}
.new-password-input svg,
.conform-new-password-input svg {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}
.new-password-input input,
.old-password-input input,
.conform-new-password-input input {
  height: 35px;
  outline: none;
}
.btn-change-password,
.btn-close-password-modal {
  border: none;
  width: 150px;
  border-radius: 8px;
  height: 40px;
  padding: 0;
  transition: 0.2s;
  transition: 0.2s;
}
.btn-close-password-modal:hover {
  background-color: #dc3545;
}
.btn-change-password:hover {
  background-color: #198754;
}
